# General
*.csv
*.zip
*.log
*.iml
prof

# Directories
**/bin
**/obj
**/cls
**/out
**/es*_dataset
.vscode
.obsidian
.idea
.iml

# R
.Rproj.user
*.Rproj
.RData
.Rhistory

# LaTeX
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
